{%extends 'base.html'%} 
{%block content%} 
{% for key, values in excerpt_objs.items %}
<h2>{{key}}</h2>
{%for excerpt in values%}
<div class="card" id="{{excerpt.id}}">
  <p id="{{excerpt.id}}" class='no-click'>{{excerpt.title}}: {{excerpt.section}}</p>
</div>
 {%empty%}
<p>bruh you gotta get that list goin</p>
{%endfor%}
{%endfor%}

<form action="{%url 'excerpt_import-multiple' aud_id%}" method="POST" >
    {%csrf_token%}
    <input type="hidden" value="" name="ex_list" id="ex_list"/>
    <input type="submit" class='btn delete-btn' value="Import Excerpts"/>
</form>

<script>
let add_exes = []
const exCardEls = document.querySelectorAll(".card");
const exListEl = document.getElementById("ex_list");
function cardClick(e) {
      if (add_exes.includes(e.target.id)){
          add_exes.splice(add_exes.findIndex((el)=>{el === e.target.id}), 1)
          e.target.style.backgroundColor = 'white'
        }else{
            add_exes.push(e.target.id)
            e.target.style.backgroundColor = 'var(--seagreen)'
            exListEl.value = add_exes.join(',')
        }
  }

  for (el of exCardEls) {
    el.addEventListener("click", cardClick);
  }
</script>

{%endblock%}
