{% extends 'base.html' %} {% block content %} {% if object %}
<h1 class="form-title">
  Edit <span class="teal-text">{{ object.orchestra }}</span>
</h1>
{% else %}
<h1 class="form-title">Add an Audition</h1>
{% endif %}

<form class="card" action="" method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit!" class="btn delete-btn" />
</form>
<script>
  const dateEl = document.getElementById("id_date");
  M.Datepicker.init(dateEl, {
    format: "yyyy-mm-dd",
    autoClose: true,
  });+
</script>

{% endblock %}
