{%extends 'base.html'%}
{%block content%}
<div class="card audition-info">
    <h2 class='teal-text bold'>{{audition.orchestra}}</h2>
    <h4>{{audition.date}}</h4>
    <h6>{{audition.location}}</h6>

</div>
<div class="audition-btns">
<a href="{%url 'audition_update' audition.id%}">
    <button class='btn'>EDIT AUDITION DETAILS</button>
</a>

<a href="{%url 'excerpt_create' audition.id%}">
    <button class='btn'>ADD AN EXCERPT</button>
</a>
</div>


 <hr>
<div class='audition-main'>
    <div class='auditin-excerpt-ctr'>
    {% for key, values  in excerpt_objs.items %}
    <h2 class='instrument-title'>{{key}}</h2>
    <div class="excerpt-teaser-ctr text-center">
{%for excerpt in values%}
<a href="{%url 'excerpt_detail' excerpt.id%}">
    <div class="card excerpt-teaser">
<p>{{excerpt.title}}: {{excerpt.section}}</p>
<p>Last practice: {{excerpt.last_practiced}}</p>
</div>
</a>
{%endfor%}
</div>
    {%empty%}
    <p>bruh you gotta get that list goin</p>
    {%endfor%} 

</div>
    <div class="card goals">
        <h1 class="center goals-title text-center">GOALS</h1>
        <form
          action="{%url 'goal_create' audition.id%}"
          method="POST"
          enctype="multipart/form-data"
        >
          {% csrf_token %} 
          {{goal_form.as_p}}
          <input class='btn delete-btn' type="submit" value="Add Goal" />
        </form>
        {%for goal in goals%}
        <div class="card">
        {%if goal.complete%}
          <h6 class='strike'>{{goal.goal}}</h6>
          {%else%}
          <h6>{{goal.goal}}</h6>
          <a href="{%url 'goal_complete' goal.id audition.id%}">
            <button>✓</button>
          </a>
          {%endif%}
        </div>
        {%endfor%} 
        
    <a href="{%url 'clear_goals' audition.id%}">
    <button class='btn delete-btn'>Clear Completed Goals</button>
    </a>
</div>
</div>

<a href="{%url 'audition_delete' audition.id%}">
<button class='btn delete-btn'>DELETE AUDITION</button>
</a>

    {%endblock%}