{%extends 'base.html'%}

{%block content%}
<h1>UPCOMING</h1>
{% for audition in upcoming_auditions %}
<a href={%url 'audition_detail' audition.id%}>
<div class="card">
<h2>{{audition.orchestra}} - {{audition.date}}</h2>
</div>
</a>
{%empty%}
<h2>No upcoming auditions!</h2>
{%endfor%}
<h1>PREVIOUS</h1>
{% for audition in previous_auditions %}
<a href={%url 'audition_detail' audition.id%}>
<div class="card">
<h2>{{audition.orchestra}} - {{audition.date}}</h2>
</div>
</a>
{%empty%}
<h2>No previous auditions!</h2>
{%endfor%}
<a href="{% url 'audition_create' %}">Add an Audition</a>
{%endblock%}