@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Lobster&family=Parisienne&display=swap');

*{
  /* border: 1px solid red; */
  font-family: 'Grandiflora One', serif;

}
:root {
  --seagreen: rgb(56,	158,	143	);
  --couchyellow: rgb(222,	218,	131);	
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
.strike{
  text-decoration: line-through rgba(0, 0, 0, .3);
}
  a{
    color: var(--seagreen)
  }
  .btn{
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  }
  main {
    flex: 1 0 auto;
    position: relative;
  }
  nav{
    background-color: var(--couchyellow)
  }
  footer.page-footer{
    padding-top: 0;
    text-align: right;
    background-color: var(--couchyellow);
  }

  .brand-logo{
    font-family: 'Parisienne', cursive;
    margin-left: 20px;
  }
.about{
  background-color: var(--seagreen);
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.about > .card{
  width: 50vw;
  margin: 0 auto;
  font-size: 1.2rem;
  padding: 16px;
}
  .or{
    margin-top: 32px;
  }

  .login-ctr>a, .login-ctr>h1{
    padding: 0;
    margin: 0;
    height: fit-content;
  }

.card{
  border-radius: 10px;
  position: relative;
  padding: 10px;
}

.bold{
  font-weight: bold;
}

.audition-btns{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.audition-excerpt-ctr{
 min-width: 60%;
}

.score-card, .comp-card, .excerpt-card{
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.comp-card{
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}

.composer-name{
  word-wrap: break-word;
}

#current-tempo{
  text-align: center;
  width: 25%;
}

.current-tempo-form{
text-align: center;
}


.centered{
  margin: 0 auto;
  max-width: 70%;
}

.score-form{
  text-align: center;
}


.excerpt-main{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.spotify-frame{
  display: flex;
  flex-direction: column;
  min-width: 100px;
  align-items: center;
}

.spotify-frame-ctr{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 40%;
  min-width: 350px;
}

.recordings-title{
  text-align: center;
}

.notes{
  width: 45%;
  min-width: 350px;
}

.excerpt-bottom{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.delete-btn:hover{
  color: red;
  transition: 200ms;

}

.delete-btn{
  margin-top: 22px;
  margin-bottom: 22px;
  text-align: center;
  min-width: 100%;
  text-align: center;
}

.audition-info{
  text-align: center;
}

.excerpt-nav{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.text-center{
  text-align: center;
}

.excerpt-teaser{
  width: fit-content;
  margin: 5px;
  font-weight: bold;
}

.excerpt-teaser-ctr{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.accent-text{
  color: var(--seagreen)
}

.excerpt-teaser:hover{
  box-shadow: 0px 2px 5px 3px rgba(0,0,0,.2);
}

.edit-excerpt, .back-to-audition{
  margin-top: 10px;
}

.audition-main{
display: flex;
}

.goals{
  width: 30%;
  height: fit-content
}

.instrument-title{
  text-decoration: underline 2px;
  text-align: center;
}

.carousel-item{
  width: 80vw;
  height: auto;
  margin-top: 30px;
}


.login-ctr{
  display: flex;
  flex-direction: row;
  align-items:center ;
  justify-content: space-around;
  flex-wrap: wrap;
}


@media screen and (max-width: 450px){
.index-category{
  text-align: center;
}

.excerpt-teaser-ctr{
  flex-direction: column;
  align-items: center;
}
.excerpt-teaser{
  width: 100%;
}
.instrument-title{
  text-align: center;
}
.audition-btns{
  flex-direction: column;
}
.audition-btns *{
  margin-bottom: 6px;
}
.about{
  padding: 0;
}

.about>.card{
  width: 90%;
}


footer.page-footer{
  text-align: center;
}

.form-title{
  text-align: center;
}

}

@media screen and (max-width: 850px){
  .goals-title{
    font-size: 2rem;
  }
  .login-ctr{
    flex-direction: column;
    margin-bottom: 20px;;
  }
}