{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audition Assistant</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/met.jpeg'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script defer src="{% static 'scripts/materialize.js' %}"></script>
    <script defer src="{% static 'scripts/hamburger.js' %}"></script>
    <link rel="stylesheet" href="{% static 'styles/main.css'%}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Music&display=swap" rel="stylesheet">
</head>
<body>
  <div class='bg'></div>
    <header class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <div>
            <a href="{% url 'about'%}" class="brand-logo" id="brand-logo">Audition Assistant</a>
            </div>
            {% if user.is_authenticated %}
            <ul class="right-nav">
              {% comment %} <li><a class="nav-link" href="{% url 'about'%}">About Us</a></li> {% endcomment %}
              <li><a href="#" id="sidenav-btn" data-target="slide-out">Metronome</a></li> 
             <li><a href="{% url 'audition_index' %}">My Auditions</a></li>
             <li><a href="{% url 'logout' %}">Log Out</a></li> 
            </ul>
            {% endif %}
           
          </div>
        </nav>
      </header>

<main class="container">
  {% if user.is_authenticated %}
  <div class="dropbtn" id="hamburger-div">
    <img class="hamburger" src="{% static 'assets/burger.png'%}" />
        <div class="dropdown-content">
          <a href="#" id="sidenav-btn2" class="burger-link-text" data-target="slide-out">Metronome</a>
          <a href="{% url 'audition_index' %}" class="burger-link-text">My Auditions</a>
        <a href="{% url 'logout' %}" class="burger-link-text" >Log Out</a>
        </div>
        </div>
        {% endif %}
    {% block content %}
    {% endblock %}
  </main>

<ul id="slide-out" class="sidenav">
  <li><div class="user-view">
    <div class="background">
      <img src="">
    </div>
    <iframe
  src="https://4four.io/embed/metronome"
  width="250"
  height="680"
  frameborder="0"
>
</iframe>
</ul>


  <footer class="page-footer">
    <div class="footer-text">All Rights Reserved, &copy; 2023 Louis Pino</div>
  </footer>
</body>
</html>