{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audition Assistant</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="icon" type="image/x-icon" href={% static 'assets/met.jpeg'%}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script defer src="{% static 'scripts/form_materials.js' %}"></script>
    <link rel="stylesheet" href={% static 'styles/main.css'%}/>
    <link href='https://fonts.googleapis.com/css?family=Indie Flower' rel='stylesheet'>
</head>
<body>
    <header class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <ul>
                {% if user.is_authenticated %}
              <li><a href="{% url 'about'%}" class="left brand-logo">Audition Assistant</a></li>
              {% else %}
              <li><a href="{% url 'home'%}" class="left brand-logo">Audition Assistant</a></li>
            {% endif %}
            </ul>
            <ul class="right">
             <li><a class="nav-link" href="{% url 'about'%}">About</a></li>
             {% if user.is_authenticated %}
             {% comment %} <li><a href="{% url 'toys_create' %}">Add a Toy</a></li>
             <li><a href="{% url 'toys_index' %}">View All Toys</a></li>{% endcomment %}
             <li><a href="{% url 'audition_create' %}">Add an Audition</a></li>
             <li><a href="{% url 'audition_index' %}">View Auditions</a></li>
             <li><a href="{% url 'logout' %}">Log Out</a></li> 
           {% else %}
             <li><a href="{% url 'login' %}">Log In</a></li>
             <li><a href="{% url 'signup' %}">Sign Up</a></li>
           {% endif %}
            </ul>
          </div>
        </nav>
      </header>

<main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2023 Louis Pino &nbsp;</div>
  </footer>
</body>
</html>