{%extends 'base.html'%} 
{%block content%} 
{%for task in tasks%}
{%if task.completed%}
<div class="card">
    {%if task.time%}
    <h1 class='strike'>{{task.task}} for {{task.time}} minutes</h1>
    {%else%}
    <h1  class='strike'>{{task.task}}</h1>
    {%endif%}
</div>
{%else%}
<div class="card">
<a href="{%url 'task_complete' task.id entry.id%}">
    <button>✓</button>
  </a>
    {%if task.time%}
    <h1>{{task.task}} for {{task.time}} minutes</h1>
    {%else%}
    <h1>{{task.task}}</h1>
    {%endif%}
</div>
{%endif%}
{%empty%}
<h1>No entries yet!</h1>
{%endfor%}

<a class="center" href='{%url "entry_update" entry.id%}'>
    <button class="btn delete-btn">edit entry</button>
</a>
<a class="center" href='{%url "entry_delete" entry.id%}'>
    <button class="btn delete-btn">delete entry</button>
</a>
{%endblock%}
